<div class="container" data-aos="fade-right">

    <div class="card text-center">
        <div class="card-header">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" routerLink="/staff-profile" routerLinkActive="active">Profile</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/staff-reports" routerLinkActive="active">Staff Report</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/staff-statistics" routerLinkActive="active">Statistics</a>
                </li>
              
              </ul>
            </div>
          </nav>
        </div>
        
      <!--/.Navbar-->
    </div>


</div>

 <div class="row">
        <div class="col-md-4 offset-md-3 mt-10">
           
            <div>
                <h2>Staff</h2>
            </div><br>
            <table style="border: 1px" style="text-align: center" width=100%>
              <tr>
                  <td>Staff Number</td>
                  <td></td>
              </tr>
              <tr>
                  <td>Gender</td>
                  <td></td>
              </tr>
              <tr>
                  <td>Marital Status</td>
                  <td></td>
              </tr>
              <tr>
                  <td>Home Language</td>
                  <td></td>
              </tr>
              <tr>
                  <td>Citizenship</td>
                  <td></td>
              </tr>
              <tr>
                <td>Email</td>
                <td></td>
            </tr>
            <tr>
              <td>Cellphone Number</td>
              <td></td>
          </tr>
          </table>
            
        </div>
            
    
  </div>


