<div class="container">

  <div class="row" id="titless">
    <div class="col">
      <label >Staff Profile</label>
    </div>
  </div>


  <nav id="dashnav">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/staff-profile" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/staff-reports" routerLinkActive="active">Staff Report</a>
        </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/staff-statistics" routerLinkActive="active">Statistics</a>
      </li>
    </ul>
  </nav>

  <div class="row">
    <div class="col-md-6">
    <div *ngFor = "let data of staffDetails">
      <div class="form-group">
        <label for="regUsername">First Name</label>
        <input type="text" name="first" readonly ngModel #first="ngModel" class="form-control"  placeholder={{data.fname}}>
      </div>
      <div class="form-group">
          <label for="loginUsername">Last Name</label>
          <input type="text" name="last" readonly ngModel #last="ngModel" class="form-control" placeholder={{data.lname}}>
      </div>
      <div class="form-group">
          <label for="loginUsername">ID Number</label>
          <input type="text" name="id_num" readonly ngModel #username="ngModel" class="form-control" placeholder={{data.id_number}}>
      </div>
      <div class="form-group">
        <label for="staffnum">Staff Number</label>
        <input type="text" name="staff_num" readonly ngModel #staff_num="ngModel" class="form-control" placeholder={{data.staff_num}}>
    </div>
    <div class="form-group">
      <label for="satffmail">Staff Email</label>
      <input type="text" name="staff_email" readonly ngModel #staff_email="ngModel" class="form-control" placeholder={{data.staff_email}}>
     </div>
      <div class="form-group">
          <label for="loginUsername">Personal Email</label>
          <input type="email" name="email" readonly ngModel #email="ngModel" class="form-control" placeholder={{data.email}}>
      </div>
      <div class="form-group">
        <label for="loginUsername">Address</label>
        <input type="text" name="address" readonly ngModel required #email="ngModel" class="form-control" placeholder={{data.address}}>
    </div>
    <div class="form-group">
      <input type="submit" value="Edit Profile" (click)="openEditForm()" class="btn btn-secondary">
    </div>
    </div>
  </div>

  <div class="col-md-6" *ngFor = "let data of staffDetails">

    <form *ngIf="editForm" #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" [(ngModel)]="userModal.fname" name="firstName" [pattern]="namePattern" required #fname="ngModel" class="form-control" id="firstname" value="{{fname}}" placeholder="First name">
        <span class="text-danger" *ngIf="(fname.touched || editForm.submitted) && fname.errors?.required">
          *name is required
          </span>
          <span class="text-danger" *ngIf="fname.errors?.pattern">
           Invalid name
          </span>
      </div>

      <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text"  [(ngModel)]="userModal.lname" [pattern]="namePattern" required #lname="ngModel" name="lastName" class="form-control" id="lastname" value="{{lname}}" placeholder="Lastname">
          <span class="text-danger" *ngIf="(lname.touched || editForm.submitted) && lname.errors?.required">
            *name is required
            </span>
            <span class="text-danger" *ngIf="lname.errors?.pattern">
             Invalid name!
            </span>
      </div>

      <div class="form-group">
        <label for="emailAdd">Email</label>
        <input type="email" [(ngModel)]="userModal.email" [pattern]="emailPattern" required #email="ngModel" name="email" name="email"  class="form-control" id="email" value="{{email}}" placeholder="Email@...">
        <span class="text-danger" *ngIf="(email.touched || editForm.submitted) && email.errors?.required">
          *email is required
          </span>
          <span class="text-danger" *ngIf="email.errors?.pattern">
           Invalid email address!
          </span>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" [(ngModel)]="userModal.address" name="address" [pattern]="addressPattern" required #address="ngModel" class="form-control" id="address" value="{{address}}" placeholder="Address">

        <span class="text-danger" *ngIf="(address.touched || editForm.submitted) && address.errors?.required">
          *address is required
          </span>
          <span class="text-danger" *ngIf="address.errors?.pattern">
           Invalid address!
          </span>
      </div>
      <br>
      <div class="form-group">
        <input type="submit" value="Update Details" class="btn btn-primary" onclick="this.value=''" [disabled]="editForm.invalid" >
      </div>
    </form>

  </div>
</div>




