nav a{
    color: white;
  }
nav a li{
    color: white;
}
nav a:hover {
    color: gray;
  }
  nav a.active {
    border-bottom: 2px #f5f5f5 solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

nav{
  box-shadow: 0 4px 6px -5px hsl(0, 0%, 26%);
}
.carousel-caption {
  
  bottom: 0; /*At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  padding: 20px; /* Some padding */
  
}

#rules{
  text-decoration: underline;
}