<div class="container-fluid" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">

    
    <ngb-carousel #carousel>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="assets\imgs\martin-sanchez-Tzoe6VCvQYg-unsplash.jpg" alt="Corona Virus">
        </div>
        <div class="carousel-caption">
          <h3>Covid Compliance</h3>
          <p style="font: black;">We all need to do our bit to fight the spread of COVID-19.
            When it comes to compliance in the workplace, this means you need to use the best tools for the job.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="assets\imgs\pexels-charlotte-may-5965675.jpg" alt="Wear Mask">
        </div>
        <div class="carousel-caption">
          <h3>Wear Your Mask</h3>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="assets\imgs\pexels-cdc-3993212.jpg" alt="Rules">
        </div>
        <div class="carousel-caption" style="transform: translateY(-50%); bottom: initial; top: 50%;">
          <h1>Rules &amp; Regulations</h1>
          
            <h5>
              <ol class="list-group list-group-numbered">
                <li> Wear your mask.</li>
                <li> Stay home when you are not feeling well.</li>
                <li> Wash your hand regularly.</li>
                <li> 2 metre social distancing must be maintained.</li>
                <li> Never share your mask with someone.</li>
                <li> Use hand sanitizer often.</li>
                <li> Make sure that you sanitize regularly touched object and surface.</li>
                <li> Sneeze or Cough in your belt elbow not your hands.</li>
                <li> No hugs and shaking of hands</li>
              </ol>
            </h5>
          
        </div>
      </ng-template>
    </ngb-carousel>
  
    <div data-aos="fade-up">
      <h2 style="text-align: center;">
        Vaccination Sites <small class="text-muted">Around Campuses</small>
      </h2>
      <div class="accordion" id="accordionExample" >
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Tshwane
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <h1 class="display-6">Pretoria West</h1>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Facility Name</th>
                    <th>Address</th>
                    <th>Operating Hours</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Tshwane University Of Technology Pretoria (West) Campus</td>
                    <td>Staatsartillerie Rd, Pretoria West, Pretoria, 0183</td>
                    <td>Mondays, Wednesdays, and Thursdays (08:00 - 16:00)</td>
                  </tr>
                </tbody>
              </table>
              <h1 class="display-6">Arcadia</h1>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Facility Name</th>
                    <th>Address</th>
                    <th>Operating Hours</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Tshwane University Of Technology Pretoria (West) Campus</td>
                    <td>Staatsartillerie Rd, Pretoria West, Pretoria, 0183</td>
                    <td>Mondays, Wednesdays, and Thursdays (08:00 - 16:00)</td>
                  </tr>
                </tbody>
              </table>
              <h1 class="display-6">Ga-Rankuwa</h1>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Facility Name</th>
                    <th>Address</th>
                    <th>Operating Hours</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sefako Makgatho University</td>
                    <td>Molotlegi Street, Zone 1 Ga-Rankuwa</td>
                    <td>Monday to Friday (08:00 - 15:00)</td>
                  </tr>
                  <tr>
                    <td>Ga-Rankuwa Hall, Zone 1</td>
                    <td>9109 Pilane Street, Ga-Rankuwa</td>
                    <td>Monday to Friday (08:00 - 15:00)</td>
                  </tr>
                  <tr>
                    <td>Ga-Rankuwa View Clinic</td>
                    <td>Mobile vaccination site moving around the community</td>
                    <td>Monday to Friday (08:00 - 15:00)</td>
                  </tr>
                </tbody>
              </table>
              <h1 class="display-6">Soshanguve</h1>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Facility Name</th>
                    <th>Address</th>
                    <th>Operating Hours</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Soshanguve Halala Hall</td>
                    <td>2077 Block H, Soshanguve</td>
                    <td>Monday to Friday (08:00 - 16:00)</td>
                  </tr>
                  <tr>
                    <td>Soshanguve Block X Community Hall</td>
                    <td>119 Millenium Street, Block X Soshanguve</td>
                    <td>Monday to Friday (08:00 - 16:00)</td>
                  </tr>
                  <tr>
                    <td>Mabopane Indoor Centre</td>
                    <td>8551 Mangope, Mabopane</td>
                    <td>Monday to Friday (08:00 - 15:00)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Emalahleni
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Facility Name</th>
                    <th>Address</th>
                    <th>Operating Hours</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Lefiso Community Hall</td>
                    <td>Mandela Street</td>
                    <td>Monday to Friday (08:00 - 15:00)</td>
                  </tr>
                  <tr>
                    <td>Lefiso Community Hall</td>
                    <td>Mandela Street</td>
                    <td>Monday to Friday (08:00 - 15:00)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Polokwane
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
</div>

  
</div>
