<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="nav-link" routerLink="/landing" routerLinkActive="active"><img style="width:100%; height:50px;" src="assets/imgs/logo_black.PNG"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/screening" routerLinkActive="active"><strong>Screening</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active"><strong>Login</strong></a>
          </li> 
        </ul>
      </div>
    </div>
</nav>

<div class="row" data-aos="fade-right">

   
    <div class="col-md-6 offset-md-3 mt-4">
    <h3>COVID-19 Screening Form</h3>
    <div class="shadow-lg p-3 mb-5 bg-white rounded border border-secondary">
    <!-- <br><div style="text-align: center" class="text-success">
                <label>{{this.data_message}} </label>
            </div> -->
    <div class="form-group col-md-6">
        <div class="d-flex mb-2">
          <div class="form-check-radio m-0">
            <label class="form-check-label">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="option" 
                  [(ngModel)]="has_cert" 
                  [value]="true" >
                  <label> &nbsp;Student/Staff  &nbsp; &nbsp;</label>
                  <span class="form-check-sign"></span>
                  </label>
          </div>
          <div class="form-check-radio m-0">
            <label class="form-check-label">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="option" 
                  [(ngModel)]="has_cert" 
                  [value]="false" >
                <label>&nbsp;Visitor</label>
                  <span class="form-check-sign"></span>
                  </label>
          </div>
        </div>

        

        <div *ngIf="has_cert">
            
            <form #screeningForm="ngForm" (ngSubmit)="onSubmit(screeningForm)">
            
            <div class="form-group">

                <label for="fullname"> Student/Staff Number </label>
                <input type="text" [(ngModel)]="userModal.stud_staff" name="stud_staff" required [pattern] = "sNumPattern" #stud_staff="ngModel" class="form-control" id="studentOrStaff" placeholder="Student Or Staff Number" min="6" >
                <span class="text-danger" *ngIf="(stud_staff.touched || screeningForm.submitted) && stud_staff.errors?.required">
                    Student/Staff Number is required
                    </span> 
                    <span class="text-danger" *ngIf="stud_staff.errors?.pattern">
                        Invalid student/staff number!
                    </span>
               
            </div>
            <div class="text-danger" style="width: 120%;">
                <label>{{this.error_message}} </label>
            </div>

            <div class="form-group">

                <label for="temparature">Temperature</label>
                <input type="text" class="form-control" [(ngModel)]="userModal.temp" name="temp"  #temp="ngModel" required [pattern] ="tempPattern" id="temparature" placeholder="Temperature">
            
                <span class="text-danger" *ngIf="(temp.touched || screeningForm.submitted) && temp.errors?.required">
                 Enter Temperature
                 </span>
                 <span class="text-danger" *ngIf="temp.errors?.pattern">
                    Invalid temperature
                </span>
                <div class="text-danger">
                    <label>{{this.temp_message}} </label>
                </div>
            </div>
            
            <div class="form-group">
                <label for="campus">Campus &nbsp;</label>
                <select  ngModel name="campus" id="campus" #campus="ngModel" required>
                    <option value="soshanguve South Campus">Soshanguve South</option>
                    <option value="soshanguve North Campus">Soshanguve North</option>
                    <option value="Ga-Rankuwa Campus">Ga-Rankuwa</option>
                    <option value="Arcadia Campus">Arcadia</option>
                    <option value="Arts Campus">Arts</option>
                    <option value="Emalehleni Campus">Emalehleni</option>
                    <option value="Pretoria Campus">Pretoria</option>
                    <option value="Polokwane Campus">Polokwane</option>

                  </select>
                  <span class="text-danger" *ngIf="(campus.touched || screeningForm.submitted) && campus.errors?.required">
                    Select your campus
                  </span>
            </div>
            
            <div class="form-group">
                <label for="symptoms">Do have any of the following symptoms?</label>
                <div class="form-check">
                    <label class="form-check-label" for="cough">
                    <input type="checkbox" ngModel name="cough" value="cough"> New and Persistent cough
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="breathing">
                        <input type="checkbox" ngModel name="breathing" value="breathing"> Shortness of breath or any difficulty breathing
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="fever">
                        <input type="checkbox" ngModel name="fever" value="fever"> Fever
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="symptoms">
                        <strong>Other Symptoms</strong> <br><input type="text" ngModel name = "symptom" #symptom="ngModel" class="form-control" id="s" placeholder="Other Symptom">
                    </label>
                </div>
                
            </div>
            <div class="form-group">
                <label for="contact">Have you been in contact with anyone in the last 14 days who is experiencing these symptoms?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" ngModel #contact="ngModel"  name="contact" value="Yes" required>
                    <label class="form-check-label" for="contactYes">
                      Yes
                    </label>

                    
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" ngModel name="contact" #contact="ngModel"  value="No" required>
                    <label class="form-check-label" for="contactNo">
                      No
                    </label>
                    
                </div>
                <span class="text-danger" *ngIf="(contact.touched || screeningForm.submitted) && contact.errors?.required">
                    Have you been in contact with anyone in the last 14 days who is experiencing these symptoms?
                    </span>
            </div>
            <div class="form-group">
                <label for="contact_covid">Have you been in contact with anyone who has since tested positive for Covid-19?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" ngModel name="contact_covid" #contact_covid="ngModel" value="Yes" required>
                    <label class="form-check-label" for="contact_covidYes">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" ngModel name="contact_covid" #contact_covid="ngModel" value="No" required>
                    <label class="form-check-label" for="contact_covidNo">No</label>
                </div>
                <span class="text-danger" *ngIf="(contact_covid.touched || screeningForm.submitted) && contact_covid.errors?.required">
                    Have you been in contact with anyone who has since tested positive for Covid-19?
                    </span>
            </div>
            <div class="form-group">
                <label for="travel">Have you travelled abroad in the last 1-2 months?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" ngModel name="travel" #travel="ngModel" value="Yes" required>
                    <label class="form-check-label" for="travelYes">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" ngModel name="travel" #travel="ngModel" value="No" required>
                    <label class="form-check-label" for="travelNo">No</label>
                </div>
                <span class="text-danger" *ngIf="(travel.touched || screeningForm.submitted) && travel.errors?.required">
                    Have you travelled abroad in the last 1-2 months?
                </span>
                </div>
             <div class="form-group" ngModelGroup="submit_reset">
                 <br>
                <button type="submit" class="btn btn-primary" onclick="this.value=''" [disabled]="screeningForm.invalid"  name=""> Submit Student </button> 
                <!--[disabled]="screeningForm.invalid"-->
            </div>
    </form>
        </div> 



        

        <div *ngIf="!has_cert">
            <form #screeningFormVis="ngForm" (ngSubmit)="onSubmitvis(screeningFormVis)">
        <div class="form-group">
            <label for="fullname"> Full Name </label>
            
                <input type="text" class="form-control" [(ngModel)]="userModal.fullname" name="fullname" [pattern] = "namePattern" #fullname="ngModel" required id="studentOrStaff" placeholder="Full Name" >
                <span class="text-danger" *ngIf="(fullname.touched || screeningFormVis.submitted) && fullname.errors?.required">
                 Name is required
                 </span>
                 <span class="text-danger" *ngIf="fullname.errors?.pattern">
                    Invalid name
                 </span>
        </div>
        <div class="form-group">

            <label for="phone">Phone Number</label>
            
                 <input type="text" class="form-control" [(ngModel)]="userModal.phone" name="phone" [pattern] = "phoneNumPattern" #phone="ngModel" required id="studentOrStaff" placeholder="Phone Number"  [ngModelOptions]="{ updateOn: 'blur' }" >
                <span class="text-danger" *ngIf="(phone.touched || screeningFormVis.submitted) && phone.errors?.required">
                 Phone number is required
                 </span>
                 <span class="text-danger" *ngIf="phone.errors?.pattern" >
                     Enter a valid cell number!
                 </span>
            
        </div>
    
        <div>
            <label for="id"> ID Number </label>
            <input type="hidden" ngModel name="id" #id="ngModel" class="form-control" id="id">
            
                 <input type="text" class="form-control" [(ngModel)]="userModal.visitor_id" name="visitor_id "  [pattern] = "idNumPattern" #visitor_id="ngModel" required id="studentOrStaff" placeholder="ID Number" >
                <span class="text-danger" *ngIf="(visitor_id.touched || screeningFormVis.submitted) && visitor_id.errors?.required">
                 ID number is required
                 </span>
                 <span class="text-danger" *ngIf="visitor_id.errors?.pattern" >
                    Enter a valid I.D number!
                </span>
            
        </div>
       
        <div class="form-group">
            <label for="temperature">Temperature</label>
            <input type="text" class="form-control" [(ngModel)]="userModal.temp" name="temp"  [pattern] ="tempPattern" #temp="ngModel" required  id="temparature" placeholder="Temperature">
            
                <span class="text-danger" *ngIf="(temp.touched || screeningFormVis.submitted) && temp.errors?.required">
                 Enter Temperature
                 </span>
                 <span class="text-danger" *ngIf="temp.errors?.pattern">
                    Invalid temperature
                </span>
                <div class="text-danger">
                    <label>{{this.temp_message}} </label>
                </div>
        </div>
       <!--Edetting-->
       <div class="form-group">
        <label for="campus">Campus &nbsp;</label>
        <select ngModel name="campus" id="campus" #campus="ngModel" required>
            <option value="soshanguve South Campus">Soshanguve South</option>
            <option value="soshanguve North Campus">Soshanguve North</option>
            <option value="Ga-Rankuwa Campus">Ga-Rankuwa</option>
            <option value="Arcadia Campus">Arcadia</option>
            <option value="Arts Campus">Arts</option>
            <option value="Emalehleni Campus">Emalehleni</option>
            <option value="Pretoria Campus">Pretoria</option>
            <option value="Polokwane Campus">Polokwane</option>

          </select>
          <span class="text-danger" *ngIf="(campus.touched || screeningFormVis.submitted) && campus.errors?.required">
            Select your campus
          </span>
    </div>
    
    
    <div class="form-group">
        <label for="symptoms">Do have any of the following symptoms?</label>
        <div class="form-check">
            <label class="form-check-label" for="cough">
            <input type="checkbox" ngModel name="cough" value="cough"> New and Persistent cough
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="breathing">
                <input type="checkbox" ngModel name="breathing" value="breathing"> Shortness of breath or any difficulty breathing
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="fever">
                <input type="checkbox" ngModel name="fever" value="fever"> Fever
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="symptoms">
                <strong>Other Symptoms</strong> <br><input type="text" ngModel name = "symptom" #symptom="ngModel" class="form-control" id="s" placeholder="Other Symptom">
            </label>
        </div>
        
    </div>
    <div class="form-group">
        <label for="contact">Have you been in contact with anyone in the last 14 days who is experiencing these symptoms?</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" ngModel name="contact" #contact="ngModel" value="Yes" required>
            <label class="form-check-label" for="contactYes">
              Yes
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" ngModel name="contact" #contact="ngModel" value="No" required>
            <label class="form-check-label" for="contactNo">
              No
            </label>
        </div>
        <span class="text-danger" *ngIf="(contact.touched || screeningFormVis.submitted) && contact.errors?.required">
            Have you been in contact with anyone who has since tested positive for Covid-19?
         </span>
    </div>
    <div class="form-group">
        <label for="contact_covid">Have you been in contact with anyone who has since tested positive for Covid-19?</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" ngModel name="contact_covid" #contact_covid="ngModel" value="Yes" required>
            <label class="form-check-label" for="contact_covidYes">Yes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" ngModel name="contact_covid" value="No" required>
            <label class="form-check-label" for="contact_covidNo">No</label>
        </div>
        <span class="text-danger" *ngIf="(contact_covid.touched || screeningFormVis.submitted) && contact_covid.errors?.required">
            Have you been in contact with anyone who has since tested positive for Covid-19?
            </span>
    </div>
    <div class="form-group">
        <label for="travel">Have you travelled abroad in the last 1-2 months?</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" ngModel name="travel" #travel="ngModel" value="Yes" required >
            <label class="form-check-label" for="travelYes">Yes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" ngModel name="travel" #travel="ngModel" value="No" required>
            <label class="form-check-label" for="travelNo">No</label>
        </div>
        <span class="text-danger" *ngIf="(travel.touched || screeningFormVis.submitted) && travel.errors?.required">
            Have you travelled abroad in the last 1-2 months?
        </span>
    </div>
        <div class="form-group">
            <label for="appointment"> Reason for appointment </label>
            
                <input type="text" class="form-control" [(ngModel)]="userModal.appointment" name="appointment"  #appointment="ngModel" required  id="appointment" placeholder="Reason for appointment">
            
                <span class="text-danger" *ngIf="(appointment.touched || screeningFormVis.submitted) && appointment.errors?.required">
                Please state the reason for your appointment
                 </span>
            
        </div>

        <div class="form-group" ngModelGroup="submit_reset">
            <br>
            <button type="submit" class="btn btn-primary" onclick="this.value=''" [disabled]="screeningFormVis.invalid" name="">Submit Visitor </button> 
            
        </div>

        
    </form>

    
    
</div>
</div>
</div>
