nav a{
    color: white;
  }
  nav a{
    color: white;
  }
nav a:hover {
    color: gray;
  }
nav a.active {
border-bottom: 2px #f5f5f5 solid;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
}

.form-control{
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%);
    border-radius: 50px;
}
.btn{
    border-radius: 10px;
    border-style: solid;
    text-align: center; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    transition-duration: 0.4s;
    
}
.btn:hover {
    background-color: green;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }


