<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="nav-link" routerLink="/landing" routerLinkActive="active"><img style="width:100%; height:50px;" src="assets/imgs/logo_black.PNG"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/screening" routerLinkActive="active"><strong>Screening</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active"><strong>Login</strong></a>
          </li> 
        </ul>
      </div>
    </div>
</nav>
  
<div class="row" data-aos="fade-right">

   
    <div class="col-md-6 offset-md-3 mt-4">
    <h3>COVID-19 Screening Form</h3>
    <div class="shadow-lg p-3 mb-5 bg-white rounded border border-secondary">
    <br>
    <div class="form-group col-md-6">
        <div class="d-flex mb-2">
          <div class="form-check-radio m-0">
            <label class="form-check-label">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="option" 
                  [(ngModel)]="has_cert" 
                  [value]="true" >
                  <label> &nbsp;Student/Staff  &nbsp; &nbsp;</label>
                  <span class="form-check-sign"></span>
                  </label>
          </div>
          <div class="form-check-radio m-0">
            <label class="form-check-label">
                  <input 
                  class="form-check-input" 
                  type="radio" 
                  name="option" 
                  [(ngModel)]="has_cert" 
                  [value]="false" >
                <label>&nbsp;Visitor</label>
                  <span class="form-check-sign"></span>
                  </label>
          </div>
        </div>

       

        <div *ngIf="has_cert">
            <form #screeningForm="ngForm" (ngSubmit)="onSubmit(screeningForm)">
            <div class="form-group">
                <label for="fullname"> Student/Staff Number </label>
                <input type="text" ngModel name="stud_staff" required #stud_staff="ngModel" class="form-control" id="studentOrStaff" placeholder="Student Or Staff Number">
            </div>
            <div class="form-group">
                <label for="temparature">Temperature</label>
                <input type="text" ngModel name="temp" required #temp="ngModel" class="form-control" id="temparature" placeholder="Temperature">
            </div>

            <div class="form-group">
                <label for="campus">Campus &nbsp;</label>
                <select  ngModel name="campus" id="campus" required>
                    <option value="soshanguve South Campus">Soshanguve South</option>
                    <option value="soshanguve North Campus">Soshanguve North</option>
                    <option value="Ga-Rankuwa Campus">Ga-Rankuwa</option>
                    <option value="Arcadia Campus">Arcadia</option>
                    <option value="Arts Campus">Arts</option>
                    <option value="Emalehleni Campus">Emalehleni</option>
                    <option value="Pretoria Campus">Pretoria</option>
                    <option value="Polokwane Campus">Polokwane</option>

                  </select>
            </div>
            
            
            <div class="form-group">
                <label for="symptoms">Do have any of the following symptoms?</label>
                <div class="form-check">
                    <label class="form-check-label" for="cough">
                    <input type="checkbox" ngModel name="cough" value="cough"> New and Persistent cough
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="breathing">
                        <input type="checkbox" ngModel name="breathing" value="breathing"> Shortness of breath or any difficulty breathing
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="fever">
                        <input type="checkbox" ngModel name="fever" value="fever"> Fever
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="symptoms">
                        <strong>Other Symptoms</strong> <br><input type="text" ngModel name = "symptom" #symptom="ngModel" class="form-control" id="s" placeholder="Other Symptom">
                    </label>
                </div>
                
            </div>
            <div class="form-group">
                <label for="contact">Have you been in contact with anyone in the last 14 days who is experiencing these symptoms?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" ngModel name="contact" value="Yes" required>
                    <label class="form-check-label" for="contactYes">
                      Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" ngModel name="contact" value="No" required>
                    <label class="form-check-label" for="contactNo">
                      No
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="contact_covid">Have you been in contact with anyone who has since tested positive for Covid-19?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" ngModel name="contact_covid" value="Yes">
                    <label class="form-check-label" for="contact_covidYes">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" ngModel name="contact_covid" value="No">
                    <label class="form-check-label" for="contact_covidNo">No</label>
                </div>
                
            </div>
            <div class="form-group">
                <label for="travelled">Have you travelled abroad in the last 1-2 months?</label>
                <input type="text" ngModel name="travel"  #travelled="ngModel" class="form-control" id="travel" placeholder="Have you travelled abroad in the last 1-2 months?" required>
            </div>
             <div class="form-group" ngModelGroup="submit_reset">
                 <br>
                <button type="submit" class="btn btn-primary" name=""> Submit Student </button> 
                
            </div>
    </form>
        </div> 



        

        <div *ngIf="!has_cert">
            <form #screeningFormVis="ngForm" (ngSubmit)="onSubmitvis(screeningFormVis)">
        <div class="form-group">
            <label for="fullname"> Full Name </label>
            <input type="text" ngModel name="fullname"  #fullname="ngModel" class="form-control" id="fullname" placeholder="Full Name" required>
        </div>
        <div class="form-group">

            <label for="phone">Phone Number</label>
            <input type="text" ngModel name="phone"  #phone="ngModel" class="form-control" id="phone" placeholder="Phone Number" required>
        </div>
        <div>
            <label for="id"> ID Number </label>
            <input type="hidden" ngModel name="id" #id="ngModel" class="form-control" id="id">
            <input type="text" ngModel name="visitor_id" #visitor_id="ngModel" class="form-control" id="visitor_id" placeholder="ID Number" required>
        </div>
        <div class="form-group">
            <label for="temperature">Temperature</label>
            <input type="text" ngModel name="temp"  #temp="ngModel" class="form-control" id="temparature" placeholder="Temperature" required>
        </div>
        
       <!--Edetting-->
       <div class="form-group">
        <label for="campus">Campus &nbsp;</label>
        <select ngModel name="campus" id="campus" required>
            <option value="soshanguve South Campus">Soshanguve South</option>
            <option value="soshanguve North Campus">Soshanguve North</option>
            <option value="Ga-Rankuwa Campus">Ga-Rankuwa</option>
            <option value="Arcadia Campus">Arcadia</option>
            <option value="Arts Campus">Arts</option>
            <option value="Emalehleni Campus">Emalehleni</option>
            <option value="Pretoria Campus">Pretoria</option>
            <option value="Polokwane Campus">Polokwane</option>

          </select>
    </div>
    
    
    <div class="form-group">
        <label for="symptoms">Do have any of the following symptoms?</label>
        <div class="form-check">
            <label class="form-check-label" for="cough">
            <input type="checkbox" ngModel name="cough" value="cough"> New and Persistent cough
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="breathing">
                <input type="checkbox" ngModel name="breathing" value="breathing"> Shortness of breath or any difficulty breathing
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="fever">
                <input type="checkbox" ngModel name="fever" value="fever"> Fever
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="symptoms">
                <strong>Other Symptoms</strong> <br><input type="text" ngModel name = "symptom" #symptom="ngModel" class="form-control" id="s" placeholder="Other Symptom">
            </label>
        </div>
        
    </div>
    <div class="form-group">
        <label for="contact">Have you been in contact with anyone in the last 14 days who is experiencing these symptoms?</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" ngModel name="contact" value="Yes" required>
            <label class="form-check-label" for="contactYes">
              Yes
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" ngModel name="contact" value="No" required>
            <label class="form-check-label" for="contactNo">
              No
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="contact_covid">Have you been in contact with anyone who has since tested positive for Covid-19?</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" ngModel name="contact_covid" value="Yes">
            <label class="form-check-label" for="contact_covidYes">Yes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" ngModel name="contact_covid" value="No">
            <label class="form-check-label" for="contact_covidNo">No</label>
        </div>
        
    </div>
    <div class="form-group">
        <label for="travelled">Have you travelled abroad in the last 1-2 months?</label>
        <input type="text" ngModel name="travel" required #travelled="ngModel" class="form-control" id="travel" placeholder="Have you travelled abroad in the last 1-2 months?">
    </div>
        <div class="form-group">
            <label for="appointment"> Reason for appointment </label>
            <input type="text" ngModel name="appointment" required #appointment="ngModel" class="form-control" id="appointment" placeholder="Reason for appointment">
        </div>

        

        <div class="form-group" ngModelGroup="submit_reset">
            <br>
            <button type="submit" class="btn btn-primary" name="">Submit Visitor </button> 
            
        </div>

        
    </form>

    
    
</div>
</div>
</div>
