<div class="container" data-aos="fade-right">

  <div class="row" id="titless">
    <div class="col">
      <label *ngFor="let data of studentDetails">Hi {{data.fname + " " + data.lname}}</label>
      <h6 class="text-muted">
        Welcome To Your Dashboard.
      </h6>
    </div>
    
    <div class="col">
      <label>Date &amp; Time</label>
      <h6 class="text-muted">{{this.date}}</h6>
    </div>

  </div>

  <nav id="dashnav">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/student-profile" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/student-reports" routerLinkActive="active">Student Report</a>
        </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/student-statistict" routerLinkActive="active">Statistics</a>
      </li>
    </ul>
  </nav>

  <div class="row">

    <div class="col">
      <div class="card">
        <div class="card-header">Covid&#8211;19 Information</div>
        <div class="card-body">
          
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3iehYDs2pyw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
        </div>
        
      </div>
    </div>
    <div class="col">
        
      <div class="card">
        <div class="card-header">
          Announcement
        </div>
        <div class="card-body">
          <h5 class="card-title">Announcement title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>
