<div class="container" data-aos="fade-right">

  <div class="row" id="titless">
    <div class="col">
      <label *ngFor = "let data of adminDetails">Hi {{data.lname}}</label>
      <h6 class="text-muted">
        Welcome To Your Dashboard.
      </h6>
    </div>
    
    <div class="col">
      <label>Date &amp; Time</label>
      <h6 class="text-muted">{{this.date}}</h6>
    </div>

  </div>
  
  <nav id="dashnav">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/user-profile" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/user" routerLinkActive="active">Users</a>
        </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/screen-report" routerLinkActive="active">Screen Report</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/statistics" routerLinkActive="active">Statistics</a>
      </li>
    </ul>
  </nav>
      <!-- <nav class="navbar navbar-expand-lg navbar-light" id="dashnav">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/user-profile" routerLinkActive="active">Profile</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/user" routerLinkActive="active">Users</a>
                </li>
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/screen-report" routerLinkActive="active">Screen Report</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/statistics" routerLinkActive="active">Statistics</a>
              </li>
            
            </ul>
          </div>
      </nav> -->
 
    
  <br>
  <div class="row">
    <!--column 1-->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Number Of Users</h5>
          <h1 class="text-muted" *ngFor = "let data of totUsers">{{data.total}}</h1>

          <span class="material-icons">
            people_alt
          </span>
        </div>
      </div>
  </div>

  <!--column 2-->
  <div class="col">
    <div class="card" ngbPopover="Number of Screening Done by the System." triggers="mouseenter:mouseleave" popoverTitle="Number of Screening">
      <div class="card-body">
        <h5 class="card-title">Screened People</h5>
        <h1 class="text-muted" *ngFor = "let screen of totScreen">{{screen.totScreen}}</h1>
        <span class="material-icons">
          assignment_turned_in
        </span>
      </div>
    </div>
  </div>


  </div>

  <!--End row-->
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5>Announcements</h5>
          <form #AnnouncementForm="ngForm" (ngSubmit)="onSubmit(AnnouncementForm)">
              <div class="form-group">
                <input type="text" ngModel #subject="ngModel" name="subject" class="form-control" placeholder="Subject">
              </div>
              <br>
              <div>
                <textarea class="form-control" placeholder="Announcement..." type="text" ngModel #announcement="ngModel" name="announcement" id="floatingTextarea2" style="height: 100px"></textarea>
              </div>
              <br>
              <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Send">
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

