<div class="container" data-aos="fade-right">

    <div class="card text-center">
        <div class="card-header">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" routerLink="/user-profile" routerLinkActive="active">Profile</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/screen-report" routerLinkActive="active">Screen Report</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" outerLink="/statistics" routerLinkActive="active">Statistics</a>
                </li>
              
              </ul>
            </div>
          </nav>
        </div>
        
      <!--/.Navbar-->
    </div>


</div>

 <div class="row">
        <div class="col-md-4 offset-md-3 mt-10">
           
            <div>
                <h2>Student</h2>
            </div><br>
            <table>
                <tr>
                    <td>Student Number</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td></td>
                </tr>
                <tr>
                    <td>ID Number</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Email Address</td>
                    <td></td>
                </tr>
            </table>
            
        </div>
            
    
  </div>



