/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */


html,body, app-root{
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
    margin-top: 0;
  }

#titless{
    font-size: 20px;
    font-weight: 650;
    color: #1c273c;
    letter-spacing: -1px;
    margin-bottom: 3px;
    padding-top: 30px;
}

#dashnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cdd4e0;
    margin-bottom: 20px;
    padding-top: 10px;
}

#dashnav a{
    color: rgb(24, 23, 23);
}

#dashnav a:hover{
    color: grey;
}

#dashnav a:active{
    color: rgb(92, 91, 91);
}

#dashnav .nav-link{
    border-left: 1px solid #cdd4e0;
}

@media screen and (max-width: 320px) {
    table{
        overflow-x: auto;
    }
}