/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */


html,body, app-root{
    height: 100%;
}

body {
    margin-bottom: 0;
    margin-top: 0;
  }